<mat-card class="card_background_blue">
<mat-card-header>
    <mat-card-title><strong>Parents</strong></mat-card-title>
  
</mat-card-header>

<p >menssage: <small>{{ menssageParent }}</small></p>

    <div class="container_buttons">
        <button (click)="pureService()" mat-raised-button color="primary">Use Service</button>
        <button (click)="inputChange()" mat-raised-button color="primary">Use Input Property</button>
        <button (click)="useService()" mat-raised-button color="primary"> Use Observable</button>
    </div>

    <!-- 
        primera variable: para el input  
        segunda variable: evento del output    
    -->
    <mat-card-footer>
        <mat-card class="p-1">
    <app-child 
        [menssageChild]="menssageChild"
        (sendMenssageParent)="inputChangeParents( $event )"
    ></app-child>
</mat-card>
</mat-card-footer>
</mat-card>