<mat-card class="card_background_green">
    <mat-card-header>
        <mat-card-title><strong>Child</strong></mat-card-title>
    </mat-card-header>
 

 

<p>menssage: <small>{{menssageChild}}</small></p>


<div class="container_buttons">
    <button (click)="pureService()" mat-raised-button color="primary">Use Service</button>
    <button (click)="inputChange()" mat-raised-button color="primary">Use Input Property</button>
    <button (click)="useObservable()" mat-raised-button color="primary"> Use Observable</button>
</div>
</mat-card>gi